<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-hxw-imagepickerview" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>HXWImagePickerView</name>
	<js-module name="HXWImagePickerView" src="www/HXWImagePickerView.js">
		<clobbers target="cordova.plugins.HXWImagePickerView"/>
	</js-module>

	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="HXWImagePickerView">
				<param name="ios-package" value="HXWImagePickerView"/>
			</feature>
		</config-file>
		
		<config-file target="*-Info.plist" parent="NSCameraUsageDescription">
			<string>是否允许此APP使用相机？</string>
		</config-file>

		<config-file target="*-Info.plist" parent="CFBundleDevelopmentRegion">
			<string>zh_CN</string>
		</config-file>

		<source-file src="src/ios/HXWImagePickerView.m"/>
		
        <!-- LGPhotoPicker -->
		<header-file src="src/ios/LGPhotoPicker/Models/LGPhotoAssets.h"/>
		<source-file src="src/ios/LGPhotoPicker/Models/LGPhotoAssets.m"/>
        <header-file src="src/ios/LGPhotoPicker/Models/LGPhotoPickerDatas.h"/>
        <source-file src="src/ios/LGPhotoPicker/Models/LGPhotoPickerDatas.m"/>
        <header-file src="src/ios/LGPhotoPicker/Models/LGPhotoPickerGroup.h"/>
        <source-file src="src/ios/LGPhotoPicker/Models/LGPhotoPickerGroup.m"/>
        
        <header-file src="src/ios/LGPhotoPicker/ViewControllers/LGPhotoPickerAssetsViewController.h"/>
        <source-file src="src/ios/LGPhotoPicker/ViewControllers/LGPhotoPickerAssetsViewController.m"/>
        <header-file src="src/ios/LGPhotoPicker/ViewControllers/LGPhotoPickerGroupViewController.h"/>
        <source-file src="src/ios/LGPhotoPicker/ViewControllers/LGPhotoPickerGroupViewController.m"/>
        <header-file src="src/ios/LGPhotoPicker/ViewControllers/LGPhotoPickerViewController.h"/>
        <source-file src="src/ios/LGPhotoPicker/ViewControllers/LGPhotoPickerViewController.m"/>
        
        <header-file src="src/ios/LGPhotoPicker/Views/LGPhotoPickerCollectionView.h"/>
        <source-file src="src/ios/LGPhotoPicker/Views/LGPhotoPickerCollectionView.m"/>
        <header-file src="src/ios/LGPhotoPicker/Views/LGPhotoPickerCollectionViewCell.h"/>
        <source-file src="src/ios/LGPhotoPicker/Views/LGPhotoPickerCollectionViewCell.m"/>
        <header-file src="src/ios/LGPhotoPicker/Views/LGPhotoPickerFooterCollectionReusableView.h"/>
        <source-file src="src/ios/LGPhotoPicker/Views/LGPhotoPickerFooterCollectionReusableView.m"/>
        <header-file src="src/ios/LGPhotoPicker/Views/LGPhotoPickerGroupTableViewCell.h"/>
        <source-file src="src/ios/LGPhotoPicker/Views/LGPhotoPickerGroupTableViewCell.m"/>
        <header-file src="src/ios/LGPhotoPicker/Views/LGPhotoPickerImageView.h"/>
        <source-file src="src/ios/LGPhotoPicker/Views/LGPhotoPickerImageView.m"/>
        
        <!-- LGPhotoBrowser -->
        <header-file src="src/ios/LGPhotoBrowser/Models/LGPhotoPickerBrowserPhoto.h"/>
        <source-file src="src/ios/LGPhotoBrowser/Models/LGPhotoPickerBrowserPhoto.m"/>
        <header-file src="src/ios/LGPhotoBrowser/Models/LGPhotoRect.h"/>
        <source-file src="src/ios/LGPhotoBrowser/Models/LGPhotoRect.m"/>
        
        <header-file src="src/ios/LGPhotoBrowser/ViewControllers/LGPhotoPickerBrowserViewController.h"/>
        <source-file src="src/ios/LGPhotoBrowser/ViewControllers/LGPhotoPickerBrowserViewController.m"/>
        
        <header-file src="src/ios/LGPhotoBrowser/Views/LGImagePickerSelectView.h"/>
        <source-file src="src/ios/LGPhotoBrowser/Views/LGImagePickerSelectView.m"/>
        <header-file src="src/ios/LGPhotoBrowser/Views/LGPhotoPickerBrowserPhotoImageView.h"/>
        <source-file src="src/ios/LGPhotoBrowser/Views/LGPhotoPickerBrowserPhotoImageView.m"/>
        <header-file src="src/ios/LGPhotoBrowser/Views/LGPhotoPickerBrowserPhotoScrollView.h"/>
        <source-file src="src/ios/LGPhotoBrowser/Views/LGPhotoPickerBrowserPhotoScrollView.m"/>
        <header-file src="src/ios/LGPhotoBrowser/Views/LGPhotoPickerBrowserPhotoView.h"/>
        <source-file src="src/ios/LGPhotoBrowser/Views/LGPhotoPickerBrowserPhotoView.m"/>
        <header-file src="src/ios/LGPhotoBrowser/Views/LGPhotoPickerCustomToolBarView.h"/>
        <source-file src="src/ios/LGPhotoBrowser/Views/LGPhotoPickerCustomToolBarView.m"/>
        
        <!-- Category -->
        <header-file src="src/ios/Category/UIView+Layout.h"/>
        <source-file src="src/ios/Category/UIView+Layout.m"/>
        <!-- image -->
        <resource-file src="src/ios/image/btn_back_imagePicker@2x.png" target="/" />
        <resource-file src="src/ios/image/checkbox_pic_non@2x.png" target="/" />
        <resource-file src="src/ios/image/checkbox_pic_non2@2x.png" target="/" />
        <resource-file src="src/ios/image/checkbox_pic@2x.png" target="/" />
        <resource-file src="src/ios/image/checkbox_pic2@2x.png" target="/" />
        
        <header-file src="src/ios/LGPhoto.h"/>
        <header-file src="src/ios/LGPhotoPickerCommon.h"/>
        
	</platform>
</plugin>
